/* ..... Global styling starts */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  color: #000;
  font-size: 16px;
  line-height: 1;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  width: 100%;
  height: auto;
}
/* inputfield-outer */
.searchbar-outer {
  height: 0px;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e45629;
  z-index: 9999;
  width: 100%;
}
.searchbar-outer form {
  /* background-color: teal; */
  position: relative;
  margin: 0 auto;
  width: 1340px;
}
.x-mark {
  position: absolute;
  color: #fff;
  top: -128px;
  right: 30px;
  font-size: 24px;
  cursor: pointer;
  background-color: #e45729;
}
.search-inner-icon i {
  display: block;
  position: absolute;
  right: 65px;
  top: -5px;
}
.searchbar-outer input {
  width: 90%;
  border: transparent;
  border-bottom: 1px solid #b8401a;
  background: transparent;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: -20px 0px 0px 0px;
}
.searchbar-outer i {
  margin-top: -10px;
  cursor: pointer;
  font-size: 38px;
  color: #fff;
}
/* header section starts  */
.header {
  width: 100%;
  padding: 14px 0px 0px;
  position: relative;
}
.header-inner {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 141px;
  position: relative;
  top: 25px;
  left: 40px;
  z-index: 99;
}

.header-right {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.header-top {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 15px;
}
.ht-list {
  margin-left: auto;
  padding-right: 54px;
  width: 610px;
  display: flex;
  justify-content: space-between;
}

.ht-list a {
  font-size: 14px;
  font-weight: 700;
  color: #86a4a2;
  line-height: 1.9px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
}

.search-icon {
  display: block;
  color: #e75731;
  position: absolute;
  font-size: 19px;
  cursor: pointer;
  top: 14px;
  right: 18px;
}
.nav-bar {
  width: 900px;
  padding: 0px 35px 0px 0px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav-list > li a {
  padding: 30px 10px;
  font-weight: 500;
  font-size: 20px;
  color: #0e6b66;
  letter-spacing: 0px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1;
  text-transform: uppercase;
}
.nav-list a:hover {
  background-color: #000;
  color: #fff;
}
.dropdown-menu {
  position: relative;
}
.dropdown-content {
  visibility: hidden;
  position: absolute;
  min-width: 300px;
  z-index: 9999;
  transition: 0.3s;
  padding: 30px 25px;
  background-color: #000000db;
}
.dropdown-content li a {
  border-bottom: 1px solid #ffffff8a;
}
.dropdown-content > li a {
  color: #fff;
  padding: 10px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.dropdown-content > li a:hover {
  color: #6e6c6b;
  background-color: transparent;
}
.dropdown-menu:hover .dropdown-content {
  visibility: visible;
}
.sub-menu {
  position: relative;
}
.sub-menu i {
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
}
.submenu-content {
  display: none;
  padding: 5px 0px 0px 10px;
  color: #6e6c6b;
}

.submenu-content li a {
  padding: 10px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  color: #6e6c6b;
  text-transform: uppercase;
}
/* banner section starts here */
.banner-section {
  background: url("../images/banner-bg.png") no-repeat center;
  background-size: cover;
  margin-top: -42px;
  padding: 130px 0px 70px 0px;
  position: relative;
}
.banner-inner {
  width: 1224px;
  margin: 0 auto;
}
.banner-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.sub-title {
  display: inline-block;
  color: #5ec6c6;
  font-size: 41px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 34px;
  margin-right: 90px;
  padding-bottom: 20px;
  z-index: 99;
}
.title {
  color: #fff;
  font-size: 94px;
  padding-bottom: 25px;
  font-weight: 900;
  letter-spacing: 0px;
  text-transform: uppercase;
  z-index: 99;
}

.title-text {
  text-transform: uppercase;
  display: inline;
  color: #5ec6c6;
  font-size: 94px;
  padding-bottom: 25px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0px;
}
.tagline {
  margin-right: 70px;
  width: 232px;
  text-align: center;
  z-index: 99;
  padding-bottom: 84px;
}
.tagline p {
  font-size: 16px;
  color: #6be2e2;
  text-align: center;
  line-height: 1.7;
  z-index: 99;
}
.pentagon {
  clip-path: polygon(100% 0, 100% 42%, 85% 100%, 0 100%, 34% 0);
  background-color: #156f6abb;
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  height: 100%;
}
.triangle {
  background-color: #02322fe7;
  clip-path: polygon(100% 37%, 18% 100%, 100% 100%);
  width: 10%;
  height: 630px;
  right: 0;
  bottom: 0;
  position: absolute;
}
.hub-row {
  width: 1112px;
  height: 115px;
  margin: 0px auto;
  position: relative;
  background-color: #fff;
}
.hub-inner {
  padding: 36px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 611px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hub-inner h2 {
  width: 231px;
  font-size: 35px;
  text-transform: uppercase;
  color: #222;
}
form select {
  width: 234px;
  height: 40px;
}
form label {
  font-size: 16px;
  text-transform: capitalize;
}
option {
  padding: 0px 10px;
}
.default-btn {
  padding: 13px 28px;
  background-color: #e45629;
  color: #fff;
  font-weight: 700;
  font-size: 20;
  border-radius: 4px;
  text-transform: uppercase;
  margin-left: 15px;
}
/* road rules section */

.rules-inner {
  max-width: 1223px;
  margin: 0 auto;
  padding: 92px 0px 47px 0px;
  display: flex;
  justify-content: space-between;
}

.maps-col {
  max-width: 410px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.map-wrapper {
  width: 52px;
  padding-bottom: 30px;
}
.map-wrapper img {
  object-fit: contain;
}
.slider-content {
  max-width: 410px;

  border-left: 1px solid #c2c2c2;
}
.rules-wrapper {
  width: 72px;
  padding-bottom: 25px;
}
.maps-col h3 {
  font-size: 30px;
  font-weight: 27px;
  color: #0e6b66;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.maps-col p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-bottom: 18px;
}
.maps-col ul {
  display: flex;
}
.maps-col a {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  color: #e85628;
  text-transform: capitalize;
}
.maps-col ul li a {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  color: #e85628;
  text-transform: capitalize;
}

.view-map {
  align-items: center;
}
.calender-wrapper {
  padding: 30px 0px 20px;
  width: 72px;
  padding-bottom: 40px;
}
.calender-wrapper img {
  object-fit: contain;
}
.slick-dots li button:before {
  font-size: 40px;
  padding: 0px;
}
/* membership-row */
.membership-row {
  display: flex;
  flex-wrap: wrap;
}
.membership-item {
  width: 50%;
}
.thumbnail {
  position: relative;
}
.thumbnail h3 {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  transition: 0.4s;
}
.thumbnail:hover h3 {
  height: 80%;
}
.thumbnail::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(169, 181, 94, 0.7);
}

.overlay-row {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0%;
  width: 100%;
  background-color: #cbdb6b;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.thumbnail:hover .overlay-row {
  visibility: visible;
  height: 50%;
}
.overlay-list {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay-row li {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #242713;
  border-bottom: 1px solid #242713;
  margin-bottom: 18px;
}
